*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    background: rgb(209, 249, 246);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-section{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

input:focus{
    border-color: #4facfe;
}

.add-btn{
    padding: 12px 18px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.add-btn:hover{
    background: #2196f3;
}

ul{
    list-style: none;
    margin-top: 20px;
}

li{
    background: #f7f7f7;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text{
    font-size: 16px;
}

.completed{
    text-decoration: line-through;
    color: gray;
}

.buttons{
    display: flex;
    gap: 8px;
}

.done-btn{
    background: #4caf50;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn{
    background: #f44336;
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.done-btn:hover{
    background: #43a047;
}

.delete-btn:hover{
    background: #d32f2f;
}